{% extends 'base.html.twig' %}
{% block title %} Acheter {% endblock %}
{% block body %}
    <div class="container">
        <h2>Voir tous nos biens</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam perferendis reprehenderit ratione, laboriosam velit tempore. Ducimus facilis fugiat magni laudantium?</p>
    </div>   
{% endblock %}