{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}
    {{form_rest(form)}}
    <button class="btn btn-primary mt-2 mb-5">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}